<div class="p-d-flex p-flex-column">
  <section class="p-d-flex" id="vision">
    <div class="p-sm-12 p-md-6 p-lg-6">
      <h2>Vision</h2>
      <p>
        We want to get to the core of one’s medical issues instead of treating
        individual symptoms. <br />
      </p>
      <h2>Mission</h2>
      <p>
        We want to solve and treat our patient’s medical ailments whether they
        be physical or mental. Our primary advantage is that we offer
        comprehensive medical care. High quality and comprehensive primary care
        is hard to find. Most primary care physicians refer out for many of the
        services we offer. We offer primary care, addiction treatment,
        geriatrics, weight loss, minor surgeries, XRAY, OMM, medical spa
        services, counseling services and blood testing on site.
      </p>
    </div>
    <div class="p-sm-12 p-md-6 p-lg-6">
      <img
        rel="preload"
        loading="eager"
        as="image"
        src="../../../assets/undraw_medical_care_movn.svg"
        width="100%"
        height="100%"
        alt="Doctors and prescription"
      />
    </div>
  </section>
  <section class="p-d-flex" id="values">
    <div class="p-col-12">
      <h2>Core Values</h2>
      <ul>
        <li>
          <p>
            <b>Respect</b> - High regard for opinions of self and others; treat
            patients, families and co-workers with dignity
          </p>
        </li>
        <li>
          <p>
            <b>Integrity</b> - Honesty and confidentiality; pursue service
            excellence
          </p>
        </li>
        <li>
          <p>
            <b>Accountability</b> - Follow through on all commitments; every
            interaction is "every patient, every time"
          </p>
        </li>
        <li>
          <p>
            <b>Compassionate Care</b> - Demonstrate caring by listening,
            expressing concern, and empathy for patients, families and
            co-workers
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
