---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Scheidler Medical">
    <main class="min-h-screen py-36 sm:py-48">
        <div class="flex flex-col lg:flex-row gap-12 px-8 sm:px-24">
            <div class="flex flex-col gap-12">
                <div class="flex flex-col gap-6">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Contact Info</h2>
                    <div class="flex gap-4">
                        <div>
                            <p class="text-lg sm:text-xl">Phone:</p>
                            <p class="text-lg sm:text-xl">Fax:</p>
                        </div>
                        <div>
                            <p class="text-lg sm:text-xl text-blue-600">513-737-0257</p>    
                            <p class="text-lg sm:text-xl text-blue-600">513-737-3627</p>
                        </div>
                    </div>
                    <div>
                        <p class="font-semibold">Calling after hours?</p>
                        <p>Use option 1 to contact on call staff (Emergencies only)</p>
                        <p>Use option 3 to leave a message (Refills or Appointments)</p>
                    </div>
                </div>
                <div class="flex flex-col gap-6">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Hours</h2>
                    <div class="columns-2">
                        <ul>
                            <li>
                                Monday
                            </li>
                            <li>
                                Tuesday
                            </li>
                            <li>
                                Wednesday
                            </li>
                            <li>
                                Thursday
                            </li>
                            <li>
                                Friday
                            </li>
                            <li>
                                Saturday
                            </li>
                            <li>
                                Sunday
                            </li>
                        </ul>
                        <ul>
                            <li>
                                8:00am - 4:30pm
                            </li>
                            <li>
                                8:00am - 4:30pm
                            </li>
                            <li>
                                8:00am - 4:30pm (No Appointments) 
                            </li>
                            <li>
                                8:00am - 4:30pm
                            </li>
                            <li>
                                8:00am - 4:30pm                            
                            </li>
                            <li>
                                Limited Appointments
                            </li>
                            <li>
                                Closed
                            </li>
                        </ul>
                    </div>
                    <div class="font-semibold italic">
                        Are your weekdays too busy? We offer Saturday appointments on a limited basis.
                    </div>
                </div>
            </div>
            <iframe 
                class="ml-auto w-full lg:w-6/12"
                width="350" 
                height="350" 
                allowfullscreen 
                loading="lazy"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJh5Uw0wVHQIgRPSB2kAE6v5w&key=AIzaSyBSdjeE8v7JJky_9CEbInYgsqFSBpB25K0">
            </iframe>
        </div>  
    </main>
</Layout>
