<footer>
  <div class="footer_top">
    <div class="footer_left">
      <p>Scheidler Medical, LLC</p>
      <p>543 Park Avenue Hamilton, OH, 45013</p>
      <p>
        Phone: <a href="tel:5137370257">(513) 425-8300</a> <br />
        Fax: <a href="tel:5137373627">(513) 999-9999</a>
      </p>
      <p>https://www.scheidlermedical.com</p>
    </div>
    <div class="footer_middle">
      <p style="margin: 8px 0 0 0"><b>Hours</b></p>
      <ul>
        <li>
          <p>Monday:</p>
          <p>8:00am - 4:30pm</p>
        </li>
        <li>
          <p>Tuesday:</p>
          <p>8:00am - 4:30pm</p>
        </li>
        <li>
          <p>Wednesday:</p>
          <p>Open (No Appointments)</p>
        </li>
        <li>
          <p>Thursday:</p>
          <p>8:00am - 4:30pm</p>
        </li>
        <li>
          <p>Friday:</p>
          <p>8:00am - 4:30pm</p>
        </li>
      </ul>
    </div>
    <div class="footer_right">
      <h3 style="margin: 8px 0 16px 0">Connect With Us!</h3>
      <div class="social_wrapper">
        <a
          href="https://www.facebook.com/DoctorStanScheidler/"
          target="_blank"
          rel="noopener"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"
            /></svg
        ></a>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <small>
      Copyright &copy; {{ currentYear }} Scheidler Medical; All rights reserved.
      This website contains proprietary logo’s and brand information of
      Scheidler Medical, LLC. No part of this website or information may be
      used, reproduced, redistributed, or published in any form without prior
      written permission from Scheidler Medical, LLC. All information, services,
      benefits or other messages may be changed by Scheidler Medical, LLC at any
      time without prior notice or explanation to the user.
    </small>
  </div>
</footer>
