<div class="nav-info p-d-flex p-flex-row p-jc-end">
  <p>Call Now (513) 737-0257</p>
</div>
<nav class="navbar">
  <a class="nav-logo" href="#"></a>
  <i class="pi pi-bars" (click)="menuOpen = !menuOpen"></i>
  <ul
    class="nav-list"
    [ngStyle]="{
      height: isMobile ? (menuOpen ? '6rem' : '0') : 'auto'
    }"
  >
    <li class="nav-item">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Welcome</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/services" routerLinkActive="active">Services</a>
    </li>
    <li class="nav-item">
      <a routerLink="/story" routerLinkActive="active">Our Story</a>
    </li>
    <li class="nav-item">
      <a routerLink="/staff" routerLinkActive="active">Meet our Staff</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
    </li>
  </ul>
</nav>
