---
const activeRoute = Astro.request.url.split('/')[3]

const routes: { name: string; label: string }[] = [
    {
        name: 'providers',
        label: 'Our Providers',
    },
    {
        name: 'contact',
        label: 'Contact Us',
    },
]
---

<header class="absolute w-full bg-white shadow-md">
    <nav class="mx-auto flex max-w-screen-2xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only">Scheidler Medical Preferred</span>
                <img src="/scheidler-med-NT.svg" alt="Scheidler Medical Preferred" height={60} width={60} />
            </a>
        </div>
        <div class="flex lg:hidden">
            <button
                type="button"
                id="open-menu-button"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                    >
                    </path>
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-x-6">
            {
                routes.map((route) => (
                    <a href={route.name} class="font-semibold leading-6 text-gray-900">
                        {route.label}
                    </a>
                ))
            }

            <a href="tel:5137370257" class="flex justify-center items-center gap-2 px-4 leading-6 text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path
                        fill-rule="evenodd"
                        d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                        clip-rule="evenodd"></path>
                </svg>
                <p class="text-blue-600">513-737-0257</p>
            </a>
        </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="hidden transition-all" id="menu" role="dialog" aria-modal="true">
        <div
            class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
        >
            <div class="flex items-center justify-between">
                <a href="/" class="-m-1.5 p-1.5">
                    <span class="sr-only">Scheidler Medical Preferred</span>
                    <img class="h-8 w-auto" src="/scheidler-med-NT.svg" alt="Scheidler Medical Preferred" />
                </a>
                <button type="button" id="close-menu-button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Close menu</span>
                    <svg
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    {
                        routes.map((route) => (
                            <a
                                href={route.name}
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                            >
                                {route.label}
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const openButton = document.getElementById('open-menu-button')!
    const closeButton = document.getElementById('close-menu-button')!

    openButton.addEventListener('click', () => {
        document.getElementById('menu')!.classList.remove('hidden')
    })

    closeButton.addEventListener('click', () => {
        document.getElementById('menu')!.classList.add('hidden')
    })
</script>
