---
---

<section class="flex flex-col justify-center items-center h-screen snap-start">
    <img
        class="w-64 h-64 sm:w-[400px] sm:h-[400px]"
        src="/scheidler-med-WT.svg"
        alt="Scheidler Medical Preferred"
        width={400}
        height={400}
    />
    <span class="text-xl sm:text-3xl font-semibold sm:pt-2">Dr. Stanley Scheidler, D.O.</span>
    <span class="text-green-600 text-xl sm:text-4xl font-bold pt-6 sm:pt-16">Our Family Caring For Your Family</span>
    <div class="text-gray-600 text-base text-center sm:text-xl font-semibold pt-2 sm:pt-4 px-4 sm:px-0 italic">
        <span class="after:content-['|'] after:px-2">Respect</span>
        <span class="after:content-['|'] after:px-2">Integrity</span>
        <span class="after:content-['|'] after:px-2">Accountability</span>
        <span>Compassionate Care</span>
    </div>
</section>
