<div class="p-d-flex p-flex-column">
  <section class="p-d-flex" id="services-intro">
    <div class="p-col-12">
      <h2>Our Services</h2>
      <h3>
        Scheidler Medical Preferred is committed to providing personalized,
        lifelong care for your entire family
      </h3>
      <p>
        Below are just a few of the common medical services we make available to
        our patients.
      </p>
    </div>
  </section>
  <section class="p-grid p-ai-strech" id="services-grid">
    <ng-container *ngFor="let card of services">
      <p-card
        [header]="card.header"
        [style]="{
          'min-height': '100%',
          'box-shadow':
            '0 2px 8px 0px rgb(0 0 0 / 20%), 0 1px 0px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%)'
        }"
        class="p-sm-12 p-md-4 p-lg-3"
      >
        <p>
          {{ card.content }}
        </p>
      </p-card>
    </ng-container>
  </section>
</div>
