<div class="p-d-flex p-flex-column">
  <section class="p-d-flex" id="homepage">
    <div class="p-sm-12 p-md-6 p-lg-6">
      <h1>Scheidler Medical Preferred</h1>
      <h3>Our Family Caring For Your Family</h3>
      <p-button
        pRipple
        type="button"
        label="Schedule An Appointment"
        class="p-button-raised p-button-text"
        (click)="officeNumber.click()"
      ></p-button>
      <a hidden href="tel:5137370257" #officeNumber></a>
    </div>
    <div class="p-sm-12 p-md-6 p-lg-6">
      <div class="stock-img">
        <img src="../../../assets/undraw_doctor_kw5l.svg" />
      </div>
    </div>
  </section>
  <p-divider></p-divider>
  <section class="p-d-flex" id="background">
    <div class="p-sm-12 p-md-6 p-lg-6">
      <h2>Accepting New Patients</h2>
      <p>
        Scheidler Medical Preferred offers comprehensive primary care services
        for the entire family, including preventative care, minor surgery, and
        acute illness care. Our scheduling services typically allow you to make
        an appointment quickly.
      </p>
      <div class="stock-img p-d-flex p-jc-center">
        <img src="../../../assets/undraw_injured_9757.svg" />
      </div>
    </div>
    <div class="p-sm-12 p-md-6 p-lg-6">
      <h2>Family Medicine</h2>
      <p>
        This is a Family Focused practice. We pride ourselves on providing
        quality, compassionate care while using the newest treatments available
        to promote optimal health and well-being for the entire family. If a
        patient needs to see a specialist, our physician can help you determine
        which specialist to see.
      </p>
      <h2>Sports Medicine & Orthopedics</h2>
      <p>
        We are dedicated to providing a knowledgeable and focused approach to
        the comprehensive treatment for sports-related injuries. We take pride
        in the quality of our sports medicine program of athletes that have been
        successfully treated and have subsequently returned to active
        participation in the sports they love.
      </p>
    </div>
  </section>
</div>
