<div class="p-d-flex p-flex-column">
  <section class="p-d-flex" id="homepage">
    <div class="p-d-flex p-col-12 homepage_left p-mb-5">
      <img
        id="hero-image"
        rel="preload"
        loading="eager"
        as="image"
        src="../../../assets/logo.svg"
        alt="Doctor triaging patient"
      />
      <h3>Dr. Stanley Scheidler, D.O.</h3>
      <h2>Our Family Caring For Your Family</h2>
      <p-button
        pRipple
        type="button"
        label="Schedule An Appointment"
        class="p-button-raised p-button-text"
        (click)="officeNumber.click()"
      ></p-button>
      <a hidden href="tel:5137370257" #officeNumber></a>
    </div>
    <!-- <div class="p-sm-12 p-md-6 p-lg-6">
      <img
        rel="preload"
        loading="eager"
        as="image"
        src="../../../assets/undraw_doctor_kw5l.svg"
        width="100%"
        height="100%"
        alt="Doctor triaging patient"
      />
    </div> -->
  </section>
  <section class="p-d-flex" id="background">
    <div class="p-sm-12 p-md-6 p-lg-6">
      <div class="p-d-flex p-jc-center">
        <img
          rel="preload"
          loading="eager"
          as="image"
          src="../../../assets/undraw_injured_9757.svg"
          width="80%"
          height="80%"
          alt="Patient with leg cast on crutches"
        />
      </div>
    </div>
    <div class="p-sm-12 p-md-6 p-lg-6">
      <h2>Accepting New Patients</h2>
      <p>
        Scheidler Medical Preferred offers comprehensive primary care services
        for the entire family, including preventative care, minor surgery, and
        acute illness care. Our scheduling services typically allow you to make
        an appointment within a few days.
      </p>
      <h2>Our Care Stands Out</h2>
      <p>
        We want to solve and treat our patient’s medical ailments whether they
        be physical or mental. Our primary advantage is that we offer
        comprehensive medical care. Most primary care physicians refer out for many of the
        services we offer. Our core services include primary care, addiction treatment,
        geriatrics, weight loss, minor surgeries, XRAY, osteopathic manipulative treatment, medical spa, counseling services and blood testing on site.
      </p>
    </div>
  </section>
</div>
