$primary: #2196f3;
$secondary: rgb(251, 209, 54);
$background: #fff;

html,
body,
app-root {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body,
app-root {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 16px 10vw 16px 10vw;
  background-color: lighten(#000, 97.5%);

  .footer_top {
    display: flex;
    flex-direction: row;

    .footer_left,
    .footer_middle,
    .footer_right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-align: center;

      p {
        font-size: calc(12px + 0.25vw);
        margin: 8px 0 8px 0;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          flex-direction: row;

          p {
            flex: 1;
          }
        }
      }
    }

    .footer_bottom {
      display: flex;
      flex-direction: column;

      small {
        text-align: center;
      }
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}

h1 {
  font-size: calc(16px + 1.25vw);
  color: lighten(#000, 15%);
}

h2 {
  font-size: calc(16px + 0.75vw);
  color: lighten(#000, 20%);
}

h3 {
  font-size: calc(16px + 0.5vw);
  color: lighten(#000, 25%);
}

p {
  font-size: calc(16px + 0.25vw);
  line-height: 150%;
}

// Navbar Styling
.nav-info {
  p {
    padding: 0 1em;
    margin: 1% 5% 0 0;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

nav.navbar {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  height: 60px;
  position: relative;
  margin: 0 5%;

  i.pi.pi-bars {
    width: 1rem;
    margin: 2.5% 5% 2.5% auto;
  }

  a.nav-logo {
    display: flex;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  ul.nav-list {
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    height: 2rem;
    width: 100%;
    padding: 0;
    margin: auto;
    list-style: none;
    transition: height 0.4s ease;

    li.nav-item {
      display: flex;
      align-items: center;
      text-align: center;
      padding: 0 1em;
      cursor: pointer;
      text-decoration: none;
      font-size: calc(12px + 0.25vw);
      font-weight: 100;
      user-select: none;

      a {
        height: 100%;
        color: #000;
        text-decoration: none;

        &:after {
          display: block;
          content: "";
          border-bottom: solid 1px #000;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &.active {
          border-bottom: solid 1px #000;
        }

        &:hover {
          &:after {
            transform: scaleX(1);
          }

          color: lighten(#000, 55%);
          transition: all ease 0.3s;
        }

        @media screen and (max-width: 768px) {
          color: lighten(#000, 5%);

          &:after {
            display: block;
            border-bottom: 0;
            transform: none;
          }

          &:hover {
            &:after {
              transform: none;
            }

            color: inherit;
            transition: none;
          }
        }
      }

      @media screen and (max-width: 768px) {
        margin: 2px 0;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      background-color: lighten($primary, 5%);
    }
  }

  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;
    margin: 0;
  }
}

// Section Styling
section#homepage {
  flex-direction: row;
  text-align: center;
  margin: 0 5%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

section#background {
  background-color: lighten($primary, 15%);
  flex-direction: row;
  padding: 0 2%;
  margin: 0;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

section#contact {
  flex-wrap: wrap;
  padding: 0 2%;
  margin: 0 5%;

  h1 {
    margin-top: 0;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

section#services-intro {
  background-color: lighten($primary, 15%);
  padding: 0 2%;
  margin-bottom: 2%;

  @media screen and (max-width: 767px) {
    margin-top: 0;
  }
}

section#services-grid {
  margin: 0 5%;
  transition: all 5s ease;
}

section#story {
  margin: 0 5%;
}

section#staff-intro {
  background-color: lighten($primary, 15%);
  padding: 0 2%;
  margin-bottom: 2%;
}

section#staff-carousel {
  .staff-card {
    display: flex;
    flex-direction: column;
    height: 99%;
    margin: 0 2.5%;

    .card-image {
      display: flex;
      justify-content: center;

      .staff-image {
        width: 50%;
        border-radius: 50%;
        border: 1px solid #000;
      }
    }

    .card-header {
      text-align: center;
    }

    .card-content {
      margin: 0 5% 5% 5%;

      p {
        margin: 0;
      }
    }
  }
}

section#vision {
  flex-direction: row;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

section#values {
  flex-direction: row;
  background-color: lighten($primary, 15%);
  padding: 2rem;

  ul {
    list-style: none;
    padding: 0;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
